@import "./assets/scss/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 10% 2rem 10%;
}

.header {
    display: flex;
    flex-direction: column;

    &__titleBox {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 1.5rem;
            margin-bottom: .5rem;
            text-align: center;
            color: white;
            background-color: $primary-color;
            padding: .5rem;
            border-radius: .5rem;
        }
    }

    &__boxes {
        display: flex;

        &__box {
            margin: .5rem .5rem 1rem .5rem;
            padding: .5rem .5rem .5rem .5rem;
            border-radius: .5rem;
            border: 2px solid $secondary-color;

            &__title {
                color: $grey-text;
                text-align: center;
                margin-bottom: .3rem;
            }

            &__value {
                font-weight: 700;
                font-size: .9rem;
                text-align: center;
            }
        }
    }
}

.button__container {
    display: flex;
    padding: 1rem;
    width: 100%;
}

.button {
    padding: 1rem;
    background-color: $primary-color;
    color: white;
    border-radius: .5rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
        cursor: pointer;
        background-color: $secondary-color;
    }
}

@media (max-width: 680px) {
    .container {
        margin: 2rem 5% 2rem 5%;
    }
    .header {
        &__boxes {
            flex-direction: column;

            &__box {
                margin: .5rem 0 1rem 0;
            }
        }
    }
}


// ####################################################################
// ###################### charts related styles #######################
// ####################################################################


// ######################## pie chart styles ##########################


ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    border-radius: 5px;
    font-size: 1rem;
    background-color: $primary-color;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem .5rem 1rem;
    .tooltip-caret.position-top {
        display: inline-block;
        border-top-color: $primary-color;
        background-color: $primary-color;
        transform: rotate(45deg) skew(15deg, 15deg) scale(1.2);
        border-radius: 8px;
        height: 18px;
        width: 12px;
        top: 36px!important;
    }
    .tooltip-content{
        position: relative;
        z-index: 9999!important;
    }
}

text.pie-label {
    font-size: 1rem;
    white-space: pre;
}

.pie-label-line {
    //grossir la ligne
    stroke-width: 2px;
}

.chart-legend {
    background-color: $primary-color;
    padding: .5rem .0 .5rem 0 !important;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.chart-legend>div {
    font-size: 1.2rem;
    color: white;
}

.legend-labels {
    display: flex;
    flex-direction: column;
    background: $primary-color !important;
}

.legend-label-text {
    color: white;
}

// ####################### line chart styles ##########################

.x.axis>.ng-star-inserted {
    padding-top: 2rem;

    &>text {
        transform: translateY(.7rem);
        fill: $grey-text;
        font-size: 1.8rem;
    }
}

.y.axis>.ng-star-inserted {
    &>text {
        fill: $grey-text;
        transform: rotate(270deg) translateY(.8rem);
    }
}

line {
    stroke: rgb(100, 100, 100) !important;
}

path.line.ng-trigger {
    stroke-width: 2.5px;
}

.tick.ng-star-inserted {
    &>text {
        font-size: .85rem !important;
    }
}