.chart{
    &--desktop{
        height: 50vh;
        width: 80vw;
    }
    &--mobile{
        height: 30vh;
        width: 90vw;
    }
}

@media (max-width: 680px) {
    .chart{
        &--mobile{
            display: unset!important;
        }
    }
}

@media (min-width: 680px) {
    .chart{
        &--desktop{
            display: unset!important;
        }
    }
}